<form role="form" id="new-card-form" class="form-inline new-card-form">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="new-card-form"
      name="card[title]"
      placeholder="Add New Card">

    <button
      type="submit"
      id="new-card"
      class="btn btn-default glyphicon glyphicon-plus">
    </button>
  </div>

</form>