<div class="panel panel-default">
  <div class="panel-body card-panel">
      <%= card.escape('title') %>
      <button
        id="remove-card"
        class="btn btn-default glyphicon glyphicon-minus pull-right remove">
      </button>
  </div>
</div>