<div id="board-show-title">
  <h3
    class="title">
      <%= board.escape('title') %>
  </h3>
  <button
    id="remove-board"
    class="btn btn-default glyphicon glyphicon-remove remove">
  </button>
</div>
<div id="lists"></div>

<div id="list-form"></div>


