<h3 class="board-show-title"><%= board.escape('title') %></h3>
<button
  id="remove-board"
  class="btn btn-default glyphicon glyphicon-minus remove">
</button>

<div id="lists"></div>

<div class="new-list"></div>
