/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


#view {
  margin-top: 60px;
  width: 100%;
}

#form-wrapper > div{
  width: 100%;
  margin-top: 4px;
}

div.form-group {
//  width: 100%;
  display: inline-block;
}

.new-list {
  margin-bottom: 30px;
}

.new-card-form {
  margin-bottom: 20px;
  margin-left: 10%;
}

.new-board-form {
  margin-left: 6%;
  margin-bottom: 20px;
}

.new-list-form {
  margin-top: 30px;
}

.board-row {
  margin-top: 10px;
}

.title {
  display: inline-block;
}

#board-show-title > h3 {
  margin-right: 20px;
}

#board-show-title > button {
  margin-top: -13px;
}

.remove{
  margin-top: -8px;
  display: none;
  height: 25px;
  width: 30px;
  padding: 0px;
  margin-top: -5px;
}

.add {
  height: 25px;
  width: 30px;
  padding: 0px;
  margin-top: -3px;
}


.card-panel:hover,
.list-header:hover,
#board-show-title:hover,
.board-title:hover {
 .remove{
   display: inline;
 }
}

.remove-board {
  margin-left: 30px;
}

.list-container,
.board-row,
#form-wrapper,
.new-list-form {
  margin: 30px 0 20px 20px;
  display: inline-block;
  float: left;
  width: 275px;
}



