/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


#view {
  margin-top: 60px;
  width: 100%;
}

#form-wrapper {
  width: 100%;
}

div.form-group {
  width: 100%;
}

.new-list {
  margin-bottom: 30px;
}

.new-card-form {
  margin-bottom: 20px;
  margin-left: 18%;
}

.new-board-form {
  margin-left: 6%;
  margin-bottom: 20px;
}

.new-list-form {
  margin-top: 30px;
}

.board-row {
  margin-top: 10px;
}

#board-title,
#list-title {
  display: inline-block;
}

.remove {
  margin-top: -8px;
}

.board-show-title {
  display: inline-block;
}

.remove-board {
  margin-left: 30px;
}

.list-container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.card-panel {
  padding: 10px;
}

#remove-card {
  height: 30px;
  width: 33px;
  padding: 0px;
  margin-top: -1px;
}

.board-show-title{
  margin-right: 30px;
}


