<form role="form" id="new-list-form" class="form-inline new-list-form">
  <div class="form-group new-list-temp">
    <input
      type="text"
      class="form-control"
      id="new-list-form"
      name="list[title]"
      placeholder="Add New List">

    <button
      type="submit"
      id="new-list"
      class="btn btn-default glyphicon glyphicon-plus add">
    </button>
  </div>
</form>