<div class="panel panel-default">
  <div class="panel-heading list-header">
    <h3
      class="panel-title title">
      <%= list.escape('title') %>
    </h3>
    <button
      id="remove-list"
      class="btn btn-default glyphicon glyphicon-remove pull-right remove">
    </button>
  </div>
  <div class="panel-body cards"></div>
  <div class="new-card"></div>
</div>