<div id="sign-up-box">
  <h1 id="header"><%= header %></h1>

  <form action="<%= action %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input
      id="usernameField"
      name="user[email]"
      type="text"
      placeholder="  Username">
    <input
      id="passwordField"
      name="user[password]"
      type="password"
      placeholder="  Password">
    <button
      id="sign-in"
      type="submit"
      class="btn btn-default">
      Let's Do it!
    </button>
    <br>
    <button
      id="demo"
      class="btn btn-default">
      Guest User
    </button>
    <br>
  </form>
</div>